# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# debug information files
*.dwo

# Build artifacts
/build/
/bin/
/Debug/
/Release/
/*.elf
/*.hex
/*.bin
/.clangd/
/clangd/
.cache/

# IDE files (examples)
*.vscode/
*.idea/
*.launch
*.cproject
*.project
*.clangd

# Temporary files
*.o
*.obj
*.tmp
*.log
*.swp
sdkconfig
sdkconfig.*
